@darkColor: darkgrey;
@mediumColor: lightgrey;


table {
    background-color:@darkColor;
    text-align: left;
	border-collapse: collapse;


}

th,td{
	border: 1px solid @mediumColor;
}

th{
	
	color: white;
}