table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    background-color:grey;

}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    width: 50px
}

th{
	background-color: black;
	color: white;
}