@darkColor: darkgrey;
@mediumColor: lightgrey;
@lightGrey: lighten(@mediumColor, 10%);

body{
	background-color: @lightGrey;
}

table {
    background-color:@darkColor;
    text-align: left;
	border-collapse: collapse;


}

th,td{
	border: 1px solid @mediumColor;
}

th{
	color: white;
}

button{
	margin: 5px 5px;
}

tr:hover{
	background-color: @lightGrey;
}

